.bg-gray{
    background-color: rgb(241, 241, 242);
}
.orang{
    background-color: rgb(224, 126, 27) !important;
}
.active-background{
    background-color: rgb(170, 170, 170) !important;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff6b00;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.product-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.product-title {
    font-size: 14px;
    height: 40px;
    overflow:visible;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
}

.average-rating {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}


.rating-bar {
    flex-grow: 1;
    height: 8px;
    background: #e0e0e0;
    border-radius: 4px;
    margin-right: 10px;
    overflow: hidden;
}

.old-price {
    text-decoration: line-through;
    color: #999;
}